name: LingFeng0918_jd_scripts
on:
  schedule:
    - cron: ''
  workflow_dispatch:
  watch:
    types: started
  repository_dispatch:
    types: sync LingFeng0918_jd_scripts
jobs:
  repo-sync:
    env:
      PAT: ${{ secrets.PAT }} 
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: sync LingFeng0918_jd_scripts
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/LingFeng0918/jd_scripts.git"
          source_branch: "master"
          destination_branch: "LingFeng0918_jd_scripts"
          github_token: ${{ secrets.PAT }}
